%h2 Welcome to Lunch App!

%a.btn.btn-info{:href => new_user_registration_path, :role => "button", :id => "sign_up_button"} Sign up
%a.btn.btn-info{:href => new_user_session_path, :role => "button", :id => "sign_in_button"} Sign in