<div class='course-row'>
  <label>Menu item:</label>
  <input type='text' class='input menu-item' name='menu[items][]' id='menu' value="<%= id %>">
  <div class='choose f-menu-item' data='nil'>Choose f</div>
  <div class='choose m-menu-item' data='nil'>Choose m</div>
  <div class='choose d-menu-item' data='nil'>Choose d</div>
</div>