<h2>Edit menu:</h2>
<%= render partial: 'menus/form', locals: { menu: menu, 
                                            fc_items: fc_items, 
                                            mc_items: mc_items,
                                            drink_items: drink_items,
                                            action: 'Update' } %>