<div class='container'>
  <h1>Week menus:</h1>
  <% menus.each do |menu| %>
    <%= menu.weekday %>
    <ul class='ul menus list'>
      <li class='li menus list element'>
        <% menu.items.each do |item| %>
          <%= item.title %>
          <%= item.price %>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>