<div class='container'>
  <h1>Week menus:</h1>
  <% @menus.each do |menu| %>
    <ul class='ul menus list'>
      <li class='li menus list element'>
        
        
      </li>
    </ul>
  <% end %>
</div>