<h1>Add a new menu:</h1>

<%= render partial: 'menus/form', locals: { weekdays: weekdays, menu: menu,
                                            fc_items: fc_items, 
                                            mc_items: mc_items,
                                            drink_items: drink_items,
                                            action: 'Add' } %>