/* STYLES, SHARED AMONG ELEMENTS ON THE PAGE */

/* Width */

.order-items,
.order.form-element,
.btn-add-order,
.get-pdf { width: 100% }

/* Margins & Paddings */

.order-form,
.thank-you { margin: 2% 3% }

.order.form-element,
.get-pdf { padding: 2% 0 }

.order.form-element label,
.total-sum-of-ordered-items { padding-left: 2% }

/* The display of text */

.order-items tr,
.ordered-amount,
.get-pdf { text-align: center }

/* Colors */

.ordered-amount,
.order-input-type input {
  background-color: rgba(255, 242, 230, 1);
  border: solid 2px rgba(137, 200, 106, 1);
  border-radius: 10px;
  color: rgba(137, 200, 106, 1)
}

.btn-add-order input[value="Place order"],
.btn.download-bill a { color: rgba(255, 242, 230, 1) }

/* Font details */

.order.form-element label,
.total-sum-of-ordered-items,
.get-pdf { font-size: 20px }

.total-sum-of-ordered-items,
.get-pdf { font-weight: bold }


/* INDIVIDUAL STYLES */

.order-item { padding: 1% 0 }

.order.form-element { justify-content: space-between }

.order-input-type input { height: 23px; float: right; margin-right: 10%; }

.btn-add-order { padding-right: 2% }

.btn-add-order input[value="Place order"] { 
  width: 150px !important;
  float: right;
  background-color: rgba(137, 200, 106, 1)
}

.btn-wrapper { padding: 2% 3%; width: 94%; justify-content: center }

.btn.download-bill { padding: 1% 0 0 2% }


/* RESPONSIVE */

@media only screen and (max-width: 425px) {
  .ordered-items-table-wrapper { overflow-x: auto }
  
  .order-input-type input { float: none; width: 150px }
  
  .order.form-element { padding: 4% 0 }
}

@media only screen and (max-width: 768px) {
  .order-input-type { text-align: center }
  
  .order-input-type input { margin-right: 0 }
}