.order-form { margin: 2% 3% }

.order-item { padding: 1% 0 }

.order-items { width: 100% }

.order-items tr { text-align: center }

.ordered-amount {
  background-color: rgba(255, 242, 230, 1);
  color: rgba(137, 200, 106, 1);
  border: solid 2px rgba(137, 200, 106, 1);
  border-radius: 10px;
  text-align: center
}

.remove-item-from-order { font-weight: bold; cursor: pointer }

.order.form-element { 
  width: 100%;
  justify-content: space-between;
  padding: 2% 0
}

.order.form-element label { padding-left: 2%; font-size: 20px }

.order-input-type input { 
  height: 23px; 
  float: right; 
  margin-right: 10%;
  background-color: rgba(255, 242, 230, 1);
  color: rgba(137, 200, 106, 1);
  border: solid 2px rgba(137, 200, 106, 1);
  border-radius: 10px
}

.btn-add-order { width: 100%; padding-right: 2% }

.btn-add-order input[value="Place order"] { 
  width: 150px !important;
  float: right;
  color: rgba(255, 242, 230, 1);
  background-color: rgba(137, 200, 106, 1)
}

.thank-you {
  margin: 2% 3%
}

.get-pdf {
  text-align: center;
  width: 100%;
  padding: 2% 0;
  font-size: 20px;
  font-weight: bold
}

.btn-wrapper { padding: 2% 3%; width: 94%; justify-content: center }

.btn.download-bill { padding: 1% 0 0 2% }

.btn.download-bill a { color: rgba(255, 242, 230, 1) }