# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore local settings
/.ruby-version
/.ruby-gemset
/.rvmrc
/.idea
/.idea/workspace.xml
/config/database.yml

# Ignore application configuration
/config/application.yml

# Ignore cloudinary configuration
# /config/cloudinary.yml

# Ignore coverage files
/coverage/*