/* STYLES, SHARED AMONG ELEMENTS ON THE PAGE */

/* Width */

.content-wrapper,
.main,
.error-msg-wrapper,
.max-width { width: 100% }

/* Height & Position */

.content-wrapper,
.content { position: relative }


/* INDIVIDUAL STYLES */

.content-wrapper { min-height: 100% }

.content { width: 80%; margin-left: 20%; z-index: 1; }

.main { padding-bottom: 7% }

.btn {
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: rgba(137, 200, 106, 1);
  color: rgba(255, 242, 230, 1);
  font-size: 20px;
  cursor: pointer
}

.block { display: inline-block }

.flex { display: flex }

.hidden { display: none }

.error { border-color: red !important }

.error-msg-wrapper { padding: 20% 0; text-align: center }

.wth-border { border: solid 2px rgba(137, 200, 106, 1) }


/* RESPONSIVE */

@media only screen and (width: 320px) {
  .btn { width: 70px; height: 30px }
}

@media only screen and (max-width: 425px) {
  .main { padding-bottom: 20% }
  
  .btn { width: 75px; height: 30px; font-size: 15px; }
}

@media only screen and (width: 768px) {
  .main { padding-bottom: 10% }
}