.btn {
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: rgba(137, 200, 106, 1);
  color: rgba(255, 242, 230, 1);
  font-size: 20px;
  cursor: pointer
}

.content-container { 
  width: 100%; 
  height: calc(100% - 190px);
}

.flex { display: flex }

.hidden { display: none }

.page-content { width: 80%; height: 100% }

/*.wth-border { border: solid 2px rgba(137, 200, 106, 1) }*/