/* STYLES, SHARED AMONG ELEMENTS */

*, a { font-family: cursive }

body, h1, p { margin: 0 }

body, h1 { color: rgba(137, 200, 106, 1) }

body, .footer { width: 100% }


/* INDIVIDUAL STYLES */

* { list-style: none }

body { 
  min-height: 100%; 
  padding: 0; 
  display: -webkit-box;
  background-color: rgba(255, 242, 230, 1)
}

h1 { 
  padding-top: 30px; 
  padding-bottom: 10px; 
  text-align: center; 
  font-size: 50px
}

a { text-decoration: none; cursor: pointer }

.footer { 
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 20px; 
  text-align: right
}

.footer p { padding-right: 1% }

@media only screen and (max-width: 414px) {
  h1 { font-size: 45px }
}