.header { width: 100%; height: 140px; justify-content: space-around }

.header-img-wrapper { margin: 0; padding: 20px 0 6px 0 }

.header-img {
	width: 110px;
  height: 110px;
  background-size: 360px;
  background-image: url("/assets/food_pics.jpg");
  border-radius: 60px;
}

#img-burger { background-position: -235px -14px }

#img-eggs { background-position: -125px 134px }

#img-pizza { background-position: -125px -14px }

#img-sweets { background-position: -15px -14px }