<h1>Order preview:</h1>

<form class='order-form' action='/orders' method='POST'>
  <% ordered_items.each do |item| %>
    <div class='flex order-item'>
      <%= item.title %>
      <%= item.calorie %>
      <%= item.price %>
      <input type='text' class='ordered-amount' value='1' />
      <div class='remove-item-from-order'>X</div>
    </div>
  <% end %>

  <div class='form-element'>
    <label class='item-label order-new'>Full name:</label>
    <div class='order-input-type'>
      <input type='text' name='order[name]' />
    </div>
  </div>
  
  <div class='form-element'>
    <label class='item-label order-new'>Delivery address:</label>
    <div class='order-input-type'>
      <input type='text' name='order[address]' />
    </div>
  </div>
  
  <div class='form-element hidden'>
    <label class='item-label order-new'>Email:</label>
    <div class='order-input-type'>
      <input type='text' name='order[email]' />
    </div>
  </div>
  
  <div class='form-element add-btn'>
    <input type='checkbox' value='1' name='order[email_msg_required]' />Send invoice by email
  </div>
  
  <div class='form-element add-btn'>
    <input type='submit' value='Place order' class='btn add-order' />
  </div>
</form>