<h2>Your order was successfully created!</h2>
<p>To get PDF version of your bill press the following button:</p>
<%= link_to 'Get Bill!', order_path(id: billed_order, format: 'pdf'), class: 'btn download-bill' %>