.ul.items.list {
  list-style: none;
  margin: 7px;
  border: solid 1.5px rgba(137, 200, 106, 1);
  border-radius: 10px;
}

.li.items.list.element {
  display: flex;
}

.div.items.list.element.image {
  width: 30%;
}

.div.items.list.element.image img, .empty-img {
  margin: 22px 0 22px 53px;
  border: solid 2px rgba(137, 200, 106, 1);
  border-radius: 30px;
  overflow: hidden;
  opacity: 0.5;
  cursor: pointer;
}

.div.items.list.element.image img:hover {
  opacity: 1;
}

.div.items.list.element.empty-image {
  width: 60%;
}

.empty-img {
  width: 200px;
  height: 200px;
  cursor: default;
}

.div.items.list.element.details {
  width: 30%;
  font-family: cursive;
  font-size: 25px;
  color: rgba(137, 200, 106, 1);
}

.div.items.list.element.details.title {
  padding: 50px 0 30px 110px;
}

.div.items.list.element.details.price {
  padding: 50px 0 30px 110px;
}

.div.items.list.element.admin-panel form {
  padding: 50px 0 30px 110px;
}

.div.items.list.element.admin-panel input, .add-new-item {
  background-color: rgba(137, 200, 106, 1);
  border: none;
  border-radius: 10px;
  color: rgba(255, 242, 230, 1);
  width: 90px;
  height: 40px;
  font-family: cursive;
  font-size: 20px;
  cursor: pointer;
}

.add-new-item {
  margin: 105px 0 0 110px;
}

.add-new-item p {
  height: 80%;
  width: 45%;
  margin: 0;
  padding: 5px 0 0 25px;
}