.new-item-form {
  max-width: 450px;
  background-color: rgba(255, 242, 230, 1);
}

.item-label {
  font-size: 25px;
}

.new-item-form-element {
  margin: 10px 15px;
}

.new-item-form-element.radio {
  display: flex;
}

.new-item-txt-input {
  float: right;
  margin-top: 10px;
  border: solid 1.5px rgba(137, 200, 106, 1);
  border-radius: 6px;
}

.add-new-item-btn {
  background-color: rgba(137, 200, 106, 1);
  border: none;
  border-radius: 10px;
  color: rgba(255, 242, 230, 1);
  width: 90px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  float: left;
  margin: 15px 0 15px 37%;
}

.add-new-item-btn p {
  height: 80%;
  width: 45%;
  padding: 5px 0 0 25px;
}