<div class='add-new-item-btn-close'>X</div>

<div class='new-item-form-element radio'>
  <label class='new-item-label'>Type:</label>
  <% types.each do |t| %>
    <input type='radio' class='new-item-radio-input' name='item_type' value="<%= t %>"/><p><%= t %></p>
  <% end %>
</div>

<div class='new-item-form-element'>
  <label class='new-item-label'>Title:</label>
  <input type='text' class='new-item-txt-input' name='item_title'/>
</div>

<div class='new-item-form-element'>
  <label class='new-item-label'>Price:</label>
  <input type='text' class='new-item-txt-input' name='item_price'/>
</div>

<div class='new-item-form-element'>
  <% if image %>
    <%= image_tag image %>
  <% end %>
  <label class='new-item-label'>Image:</label>
  <input type='file' class='new-item-txt-input' name='item_image'/>
</div>

<div class='add-new-item-btn'><p>Add</p></div>