<h2>Edit item:</h2>
<%= render partial: 'items/form', locals: { item: item, 
                                            types: types,
                                            image: item.image_url.to_s,
                                            action: 'Update' } %>