<div class='item-form'>
  <h1>Add item:</h1>
  <%= render partial: 'items/form', locals: { item: item, 
                                              types: types, 
                                              image: nil,
                                              action: 'Add' } %>  
</div>