.weekday-menu-item-details p { font-size: 15px }

.shopping-details,
.weekday-menu-item-details,
.weekday-menu-item-details p { width: 100% }

.shopping-details { justify-content: center; padding: 0 42px } /*flex*/

.shopping-details p { margin: 10px 10px 10px 0 }

.shopping-cart-img {
	width: 40px;
  height: 40px;
  margin: 0;
  background-size: 40px;
}

.shopping-cart-img { background-image: url("/assets/1486063408_Cart_by_Artdesigner.lv.png") }

.weekday-menu-item-details { margin: 10px }

/*.main-data-general {*/
/*  width:50%;*/
/*}*/
/*.img-wrapper {padding:0 42px;}*/

/*.main-data {width:100%;display: flex}*/