.menu-row {
  display: flex;
}

.weekday-menu {
  width: 100%;
  margin: 20px 0;
  display: block;
}

.menus-list {
  list-style-type: none;
  margin: 0;
}

.menus-list-item {
  display: inline-block;
  position: relative;
  z-index: 0;
  margin: 10px 20px 0 20px;
}

.menus-list-item.small {
  width: 100px;
  height: 100px;
  border: solid 2px;
  border-radius: 30px;
  opacity: 0.5;
}

.menus-list-item span {
  position: absolute;
  padding: 10px;
  background: rgba(255, 242, 230, 1);
  box-shadow: 0 0 20px rgba(137, 200, 106, .85);
  border-radius: 30px;
  font-size: 20px;
}

.hidden-data {
  left: -9999px;
}

.shown-data {
  top: -230px;
  left: 60px;
}

.menus-list-item-enlarged-close {
  position: absolute;
  right: 5%;
  top: 2%;
  cursor: pointer;
}

.menus-list-item.enlarged {
  border: solid 2px rgba(137, 200, 106, 1);
  border-radius: 30px;
}

.shopping-details {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 10px;
}

.shopping-details p {
  margin: 10px 10px 10px 0;
}

.shopping-cart-img, .preview-img {
	width: 40px;
  height: 40px;
  margin: 0;
  background-size: 40px;
}

.shopping-cart-img {
  background-image: url("/assets/1486063408_Cart_by_Artdesigner.lv.png");
}

.preview-img {
  background-image: url("/assets/1486094936_document-preview.png");
}

.menu-item-details {
  width: 100%;
  display: none;
  margin: 10px;
}

.menu-item-details p {
  width: 100%;
  font-size: 15px;
}

.menu-item-details-close {
  position: relative;
  top: 0;
  right: -88%;
}

.menus-list-item.admin-panel {
  float: right;
  margin: 0 50px 0 0;
}

.menus-list-item.admin-panel input {
  background-color: rgba(137, 200, 106, 1);
  border: none;
  border-radius: 10px;
  color: rgba(255, 242, 230, 1);
  width: 90px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}

/* Hover */

.menus-list li:hover {
  z-index: 50;
}

.menus-list-item.small:hover {
  opacity: 1;
  cursor: pointer;
}

/* Order preview popup */

.popup-order-preview {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  background-color: rgba(255, 242, 230, 0.75);
  overflow: auto;
}

.order-preview-close {
  position: absolute;
  right: 37.6%;
  top: 6%;
  cursor: pointer;
}

.order-preview-close p {
  font-size: 20px;
}

.order-preview {
  position: absolute;
  left: 50%;
  top: 17%;
  margin-left: -202px;
  max-width: 300px;
  min-width: 250px;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: rgba(137, 200, 106, 1);
  display: block;
  font-size: 20px;
  color: rgba(255, 242, 230, 1);
}

.inactive {
  display: none;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.order-preview p {
  width: 100%;
}

.remove-item-from-order {
  width: 20px;
  padding: 0 5px;
  height: 20px;
  border-radius: 5px;
  background-color: rgba(255, 242, 230, 1);
  color: rgba(137, 200, 106, 1);
  font-size: 14px;
  cursor: pointer;
}

.place-order {
  float: right;
  background-color: rgba(255, 242, 230, 1);
  color: rgba(137, 200, 106, 1);
  border-radius: 10px;
  padding: 3px;
  cursor: pointer;
}