.weekday-menu { width: 100%; margin: 10px 0; display: block }

.weekday-menu-items { margin: 0 }

.weekday-menu-items li:hover { z-index: 50 }

.weekday-menu-item {
  position: relative;
  z-index: 0;
  margin: 0 10px
}

.small-img {
  margin: 0;
  width: 80px;
  height: 80px;
  border-radius: 30px;
  opacity: 0.5
}

.enlarged-img {
  width: 180px;
  height: 180px;
  border-radius: 30px;
}

.weekday-menu-item.small-img:hover { opacity: 1; cursor: pointer }

.weekday-menu-item.admin-panel { width: 100%; margin: 0 }

.weekday-menu-item.admin-panel form { width: 15%; float: right }

.weekday-menu-item.admin-panel input {
  background-color: rgba(137, 200, 106, 1);
  border: none;
  border-radius: 10px;
  color: rgba(255, 242, 230, 1);
  width: 90px;
  height: 40px;
  font-size: 20px;
  cursor: pointer
}