.popup-items.first-course, .popup-items.main-course, .popup-items.drink {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  background-color: rgba(255, 242, 230, 0.75);
  overflow: auto;
}

.first-items-close, .main-items-close, .drinks-close {
  position: absolute;
  right: -14px;
  top: -40px;
  cursor: pointer;
}

.first-items-close p, .main-items-close p, .drinks-close p {
  font-size: 20px;
}

.first-items, .main-items, .drinks {
  position: absolute;
  left: 50%;
  top: 17%;
  margin-left: -202px;
  max-width: 300px;
  min-width: 250px;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: rgba(137, 200, 106, 0.7);
  display: flex;
}

.item.new-menu {
  margin: 5px;
}

.item-img.new-menu {
  width: 120px;
  height: 120px;
  border: solid 2px rgba(255, 242, 230, 1);
  border-radius: 30px;
}

.item-title.new-menu p {
  font-size: 15px;
  color: rgba(255, 242, 230, 1);
  float: right;
}