.popup-form.menu-items { display: block }

.popup-close.first-course, 
.popup-close.main-course, 
.popup-close.drink { right: -14px; top: -40px }

.items-block { width: 100%; display: flex; justify-content: space-between }

.menu.item { margin: 5px }

.menu.item-img { 
  width: 120px; 
  height: 120px;
  border: solid 2px rgba(255, 242, 230, 1);
  border-radius: 30px
}

.menu.item-title p { 
  font-size: 15px; 
  color: rgba(255, 242, 230, 1); 
  float: right
}

/* RESPONSIVE */

@media only screen and (width: 320px) {
  .popup-close.first-course, 
  .popup-close.main-course, 
  .popup-close.drink { right: -8px }
}

@media only screen and (width: 360px) {
  .popup-close.first-course, 
  .popup-close.main-course, 
  .popup-close.drink { right: -8px }
}

@media only screen and (max-width: 414px) {
  .popup-form.menu-items { max-width: 86%; min-width: 86%; padding: 10px }
  
  .menu.item-title { margin: 0 0 10% 1px }
  .menu.item-title p { float: none }
}