.menu.form { margin: 2% 3%; width: 94% }

.menu.form-element { width: 100%; padding: 1% 0 }

.menu.form-element.label { width: 20%; font-size: 20px }

.weekday-options { width: 80%; padding: 0.5%; display: inline-flex }

.weekday-option { margin: 1.5% }

.weekday-option input { width: 50%; margin: 0 0 0 25% }

.weekday-option p { padding: 5px 0 0 0; font-size: 17px }

.menu.form-element.courses { display: block }

.menu.item.form-element.input {
  width: 150px;
  height: 20px;
  background-color: rgba(255, 242, 230, 1);
  border-radius: 10px
}

.menu.item.form-element.input,
.menu.item-buttons { margin-left: 150px }

.choose { 
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-left: 30px;
  cursor: pointer
}

.choose p {
  width: 50%;
  height: 50%;
  margin: 25% 0 0 25%;
  text-align: center;
  font-size: 17px
}

.add-item { height: 40px }

.btn.add-item-to-menu { float: right; text-align: center }

.btn.add-item-to-menu p { padding-top: 5px }

.sbm-form { text-align: center }

/* RESPONSIVE */

@media only screen and (max-width: 414px) {
  .menu.form-element { padding: 2% 0 }
  
  .menu.form-element.label { width: 30%; font-size: 16px }
  
  .weekday-options { width: 70%; padding: 0.5%; display: block }
  
  .weekday-option { display: flex }
  
  .weekday-option input { width: 30%; margin: 0 0 0 1% }
  
  .weekday-option p { padding: 0 0 10px 20px }
  
  .menu.form-element.input { display: block }
  
  .menu.item.form-element.input,
  .menu.item-buttons { margin-left: 0 }
  
  .menu.item.form-element.input { margin: 0 0 5% 17%; float: none }
  
  .choose { margin: 0 30px 0 0 }
  
  .add-item { height: 30px }
  
  .btn.add-item-to-menu p { padding-top: 0 }
}