/* STYLES, SHARED AMONG ELEMENTS ON THE PAGE */

/* Width */

.weekday-option input,
.choose p { width: 50% }

/* Height */

.choose,
.add-item { height: 40px }

/* Margins & Paddings */

.menu.item.form-element.input,
.menu.item-buttons { margin-left: 150px }

/* The display of text */

.btn.add-item-to-menu,
.choose p, 
.sbm-form,
.menu.form-element.input input { text-align: center }


/* INDIVIDUAL STYLES */

.menu.form { margin: 2% 3%; width: 94% }

.menu.form-element { width: 100%; padding: 1% 0 }

.menu.form-element.label { width: 20%; font-size: 20px }

.weekday-options { width: 80%; padding: 0.5%; display: inline-flex }

.weekday-option { margin: 1.5% }

.weekday-option input { margin: 0 0 0 25% }

.weekday-option p { padding: 5px 0 0 0; font-size: 17px }

.menu.form-element.courses { display: block }

.menu.item.form-element.input {
  width: 150px;
  height: 20px;
  background-color: rgba(255, 242, 230, 1);
  border-radius: 10px
}

.choose { 
  width: 40px;
  border-radius: 100px;
  margin-left: 30px;
  cursor: pointer
}

.choose p {
  height: 50%;
  margin: 25% 0 0 25%;
  font-size: 17px
}

.btn.add-item-to-menu { float: right }

.btn.add-item-to-menu p { padding-top: 5px }


/* RESPONSIVE */

@media only screen and (max-width: 414px) {
  .btn.add-item-to-menu p { padding-top: 0 }
}

@media only screen and (width: 768px) {
  .weekday-option input { margin: 0 0 0 10% }
  
  .menu.item-buttons { padding-left: 17% }
  
  .menu.item.form-element.input { margin: 0 0 5% 50% }
}

@media only screen and (max-width: 768px) {
  .menu.form-element { padding: 2% 0 }
  
  .menu.form-element.label { width: 30%; font-size: 16px }
  
  .weekday-options { width: 70%; padding: 0.5%; display: block }
  
  .weekday-option { display: flex }
  
  .weekday-option input { width: 30%; margin: 0 0 0 1% }
  
  .weekday-option p { padding: 0 0 10px 20px }
  
  .menu.form-element.input { display: block }
  
  .menu.item.form-element.input,
  .menu.item-buttons { margin-left: 0 }
  
  .menu.item.form-element.input { margin: 0 0 5% 17%; float: none }
  
  .choose { margin: 0 30px 0 0 }
  
  .add-item { height: 30px }
}

@media only screen and (width: 1440px) {
  .menu.item.form-element.input,
  .menu.item-buttons { margin-left: 200px }

  .weekday-option { margin: 1.5% 2.5% }
  
  .menu.form-element.input input { margin-top: 2px }
  
  .btn.add-item-to-menu { margin-right: 11% }
}

@media only screen and (width: 2560px) {
  .menu.item.form-element.input,
  .menu.item-buttons { margin-left: 500px }
  
  .menu.form-element.label,
  .menu.form-element.input input { font-size: 30px }

  .weekday-option { margin: 1.5% 3.5% }
  
  .weekday-option p { font-size: 25px }
  
  .choose { width: 60px; height: 60px }

  .btn.add-item-to-menu { margin-right: 8.5% }
}