.menu.form { margin: 0; padding: 17px; width: 1044px; float: left }

.menu.form-element { margin: 15px 0 10px 0 }

.menu.form-element.label,
.menu.form-element.input { margin-left: 35px }

.weekday-option { margin: 0 0 0 40px }

.weekday-option input { width: 50%; margin: 0 0 0 25% }

.weekday-option p { margin: 5px 0 0 0; font-size: 20px }

.menu.form-element.courses { display: block }

.menu.item.form-element.input {
  width: 150px;
  height: 20px;
  background-color: rgba(255, 242, 230, 1);
  border-radius: 10px
}

.menu.item.form-element.input,
.menu.item-buttons { margin-left: 150px }

.choose { 
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-left: 30px;
  cursor: pointer
}

.choose p {
  width: 50%;
  height: 50%;
  margin: 25% 0 0 25%;
  text-align: center;
  font-size: 17px
}

.btn.add-item-to-menu {  margin: 0 0 0 900px }

.btn.add-item-to-menu p {  padding: 5px 0 0 2px }

.btn.sbm-menu {  margin: 0 0 0 500px }