.popup-close.order-preview, 
.remove-item-from-preview, 
.place-order { color: rgba(137, 200, 106, 1) }

.remove-item-from-preview, 
.place-order { background-color: rgba(255, 242, 230, 1); cursor: pointer }

.popup-close.order-preview { left: 71%; top: 11% }

.preview { display: block; font-size: 20px; color: rgba(255, 242, 230, 1) }

.preview p { width: 100% }

.remove-item-from-preview {
  width: 20px;
  padding: 0 5px;
  height: 20px;
  border-radius: 5px;
  font-size: 14px
}

.place-order { float: right; border-radius: 10px; padding: 3px }

/* RESPONSIVE */

@media only screen and (max-width: 414px) {
  .preview { font-size: 15px }
  
  .popup-close.order-preview { left: 91%; top: 6% }
}