.popup-order-preview {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  background-color: rgba(255, 242, 230, 0.75);
  overflow: auto;
}

.order-preview-close {
  position: absolute;
  right: 37.6%;
  top: 6%;
  cursor: pointer;
}

.order-preview-close p {
  font-size: 20px;
}

.order-preview {
  position: absolute;
  left: 50%;
  top: 17%;
  margin-left: -202px;
  max-width: 300px;
  min-width: 250px;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: rgba(137, 200, 106, 1);
  display: block;
  font-size: 20px;
  color: rgba(255, 242, 230, 1);
}

.order-preview p {
  width: 100%;
}

.remove-item-from-order {
  width: 20px;
  padding: 0 5px;
  height: 20px;
  border-radius: 5px;
  background-color: rgba(255, 242, 230, 1);
  color: rgba(137, 200, 106, 1);
  font-size: 14px;
  cursor: pointer;
}

.place-order {
  float: right;
  background-color: rgba(255, 242, 230, 1);
  color: rgba(137, 200, 106, 1);
  border-radius: 10px;
  padding: 3px;
  cursor: pointer;
}